@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital@1&display=swap');

html, body {
  width: 100%;
  height:100%;
}
body{
  background: linear-gradient(-45deg, #ee7752, #448597, #0d4f69, #002530);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
div.Container_indo_header{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height:50px;
}
@media only screen and (max-width: 788px) {
  div.Container_indo_header {
  height: 70px;
}
}
@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
button.button_info_diarias{
  width:50px;
  height:50px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  margin:10px 30px 0 0;
  outline: 0;
  cursor: pointer;
  background-color:rgb(13, 126, 231);
}
div.Container_indo_header button:hover{
  background-color:rgb(72, 152, 228);
}
div.Container_indo_header i{
  color:rgb(255, 255, 255);
  font-size: 20px;
}
div.slidto{
  width:100%;
  height:60px;
}
div.slidto i{
  color:rgb(0, 0, 0);
  margin-left: 20px;
  margin-top: 10px;
  font-size: 25px;
  position: absolute;
  cursor: pointer;
}
div.modal_info{
  width:300px;
  height:600px;
  position: absolute;
  background-color: rgb(235, 235, 235);
  display: none;
  border-bottom-left-radius: 20px;
  box-shadow: -1px 3px 20px 0px #5a5a5a;
  animation-name: modal_info;
  animation-duration: 0.5s;
}
@keyframes modal_info{
  0%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}
div.container_info_diaria{
  width:100%;
  height:525px;
  font-family: monospace;
  overflow: hidden;
  overflow: auto;
}
div.container_info_diaria i{
  margin-left: 30px;
  color: #333;
}
div.container_info_diaria h4{
  margin-left: 30px;
  margin-bottom: 40px;
}
div.container_header{
  width:100%;
  height:auto;
  display: flex;
  justify-content: center;
}
p.title_p{
  font-family: 'Zen Dots', cursive;
  font-size: 40px;
  font-weight: 800;
  color:#fff;
  margin-left: 20px;
}
div.modal-body p{
  font-family: monospace;
}
div.container_header button{
  width:50px;
  height:50px;
  background-color: transparent;
  border: none;
}
div.container_header i{
  color:#fff;
  font-size: 20px;
}

div.container_button{
  width:100%;
  height:auto;
  display: flex;
  justify-content: center;
}
div.container_button button{
  display: block;
  margin:0px auto;
  width:55px;
  height:55px;
  border:none;
  border-radius: 50%;
  outline: 0px;
  background-color:rgb(13, 126, 231);
  color:#fff;
  font-weight: 600;
  font-family: monospace;
  font-size: 18px;
}
div.container_button i{
  margin-top: 5px;
  font-size: 25px;
}
div.container_button button:hover{
  background-color:rgb(82, 149, 212);
  transition: 0.5;
  cursor: pointer;
}

div.Container_body{
  width:100%;
  height:auto;
}
div.Container_content{
  width:auto;
  height:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
div.Container_content p{
  text-align: center;
  font-family: monospace;
  font-size: 19px;
  color: #fff;
  font-weight: 600;
  margin-top: 30px;
}
div.Container_content input{
  width:230px;
  height:40px;
  border: none;
  border-bottom: 3px rgb(128, 128, 128) solid;
  border-radius: 20px;
  outline: 0px;
  text-align: center;
  margin: 0 auto;
  font-family: monospace;
  font-size: 19px;
  color:rgb(4, 92, 0);
  font-weight: 600;
}
div.Container_content button{
  width:80px;
  height:40px;
  margin: 20px auto;
  border-radius: 20px;
  border: none;
  outline: 0px;
  background-color:rgb(13, 126, 231);
  color:#fff;
  font-weight: 600;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  transition: 0.3s;
}
div.Container_content button:hover{
  background-color: rgb(93, 178, 228);
  transition: 0.3s;
  width:100px;
}
div.Container_info{
  width:50vh;
  height:150px;
  background-color: #fff;
  margin:0 0 30px 0;
  border-radius: 20px;
  text-align: center;
  font-family: monospace;
  font-size: 19px;
  font-weight: 600;
  border: none;
  border-bottom: 3px rgb(128, 128, 128) solid;
}
div.Container_info_botton{
  width:100%;
  height:50px;
  margin-top: 50px;
}
div.containe_footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width:100%;
  height:50px;
  background-color: rgb(29, 29, 29);
  position: fixed;
  bottom:0;
  left:0;
}
div.containe_footer i{
  color: #fff;
  font-size: 30px;
  margin:0 30px 0 30px;
  cursor: pointer;
}
div.containe_footer i:hover:nth-child(1){
  color:#2867B2;
}
div.containe_footer i:hover:nth-child(3){
  color:#8134af;
}

div.container_banner{
  width:100%;
  height:50px;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom:40px;
}
div.banner{
  width:100px;
  height:22px;
  background-color: #fa6704;
  transform: rotate(-50deg);
  position: absolute;
  margin-right:-30px;
}
div.banner span{
  margin-left: 22px;
  color:#ffffff;
  font-weight: 600;
}
DIV.alert{
  display: none;
}
DIV.alert i {
  font-size: 20px;
}
div.container_backgrounds{
  width:90px;
  height:35px;
  border-radius: 40px;
  border: none;
  background-color: transparent;
  margin:20px 30px 0 0;
  outline: 0;
  cursor: pointer;
  background-color:rgb(13, 126, 231);
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 436px) {
  div.container_backgrounds{
      margin:20px 30vh 0 0;
    }
}
@media only screen and (max-width: 360px) {
  div.container_backgrounds{
      margin:20px 27vh 0 0;
    }
}
div.container_backgrounds button{
  background-color: transparent;
  width:49%;
  height:35px;
  border:none;
  outline: none;
  cursor: pointer;
  border-radius: 70px;
}
div.container_backgrounds button:nth-child(1){
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 70px;
  border-top-right-radius: 0px;
  border-top-left-radius: 70px;
}
div.container_backgrounds button:nth-child(2){
  border-bottom-right-radius: 70px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 70px;
  border-top-left-radius: 0px;
}
div.container_backgrounds button:focus{
  background-color: #fa6704;
}
div.alert-success{
  display: none;
  position: absolute;
  margin-left: -100px;
  height:50px;
  width:290px;
  border-radius: 20px;
  margin-top: 1%;
  animation-name: Oopacity;
  animation-duration: 0.5s;
}
div.alert-success p{
  text-align: center;
  margin-top: 7px;
  font-style: oblique;
  color: #333;
}
div.alert-success i{
  color: rgb(81, 201, 81);
}
@media only screen and (max-width: 758px) {
  div.alert-success {
    Margin-left: -100px;
    Margin-top: 4%;
  }
}
@media only screen and (max-width: 422px) {
  div.alert-success {
    Margin-left: 50px;
    Margin-top: 4%;
  }
}
@keyframes Oopacity{
  0%{
    opacity: 0;
    transform:translatex(0px);
  }
  50%{
    opacity: 5.0;
    transform:translatex(-50px);
  }
  100%{
    opacity: 1;
    ransform:translatex(0px);
  }
}

